.speech{font-size: medium;
    color:rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}

.direction{font-size: large;
    color:rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    background-color:navajowhite;}

.direction:hover{background-color:lightgray;
    color: firebrick;}

.name{font-size: medium;}

.Billing{color: cadetblue;}
.Hovstad{color: chocolate;}
.Stockmann{color: darkgreen;}

table{
    border: 3px;
    border-color: brown;
    padding: 4%;
    border-color: deeppink;
}
tr:nth-child(even) {
    background-color:fuchsia;
  }
tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
th, td {
    padding: 10px;
    text-align: center;
  }