.speech{font-size: medium;
    color:rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}

.direction{font-size: large;
    color:rgb(0, 0, 0);
    font-family:'Times New Roman', Times, serif;
    background-color:navajowhite;}

.direction:hover{background-color:lightgray;
    color: firebrick;}

.name{font-size: medium;}
.name:hover{text-shadow: 3px 3px 2px red;
    color: transparent;}

.Billing{color: cadetblue;}
.Hovstad{color: chocolate;}
.Stockmann{color: darkgreen;}

table{
    border: 3px;
    border-color: brown;
    padding: 4%;
    border-color: deeppink;
}
tr:nth-child(even) {
    background-color:fuchsia;
  }
tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
th, td {
    padding: 10px;
    text-align: center;
  }

footer {
    background-color: #333;
    color: #fff;
    text-align: left;
}

.footer-navbar {
    display: flex;
    justify-content: left;
}

.footer-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.footer-navbar li {
    float: left;
    border:  1px solid #bbb;
}
.footer-navbar li.last-child {
    border-right: none;
  }

.footer-navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-weight:bolder;
    margin: auto;
}

.footer-navbar a:hover {
    text-decoration: underline;
}